*{
  font-family: 'Open Sans', sans-serif;
}
header{
   text-align: center;
   background-color: rgb(102, 20, 20);
   color: rgb(231, 216, 216);
   margin-bottom: 5px;
   padding:0;  
   display: flex;
}
h1{
  margin-left: 10px;
}
#info-container{   
  padding:10px; 
}
#map{
    width: 100vw;
    height:71vh;
}
#app-form{
  Font-size: 15px;
  padding:5px;
}
#submit{
  
    background: #eef0ee;
    
    transition-duration: 1s;
    transition-timing-function: linear;
  }
#submit:hover {
    background: rgb(192, 11, 11);
    color: rgb(231, 216, 216);
  }
  
h3{
  font-size: 20px;
  color: rgb(255, 20, 20);
}
/*Groups & Items-Mobile First*/
.group{
    display: flex;
    flex-direction: column;    
}
  .item{
    flex:1;
  }
 
  @media screen and (min-width:768px){
    .group {
      flex-direction:row;
      width: 100%;
      }
 }


