body{
    margin:0;
}
#logo{
    height: 15%;
    width: 10%;
    padding:5px;
}
#nav-bar{
    display: flex;
    flex-direction: row;
    background-color: rgb(126, 14, 14);
    color: white;
}
#info-container{   
  padding:10px; 
}
#map{
    width: 100vw;
    height:100vh;
}
/*Groups & Items-Mobile First*/
.group{
    display: flex;
    flex-direction: column;
    }
  .item{
    flex:1;
}
 
  @media screen and (min-width:768px){
    .group {
      flex-direction:row;
      width: 100%;
      }
 }


