/*Global*/
*{
  font-family: 'Open Sans', sans-serif;
  margin:0 auto;
}
/*Header*/
header{
   text-align: center;
   background-color: rgb(102, 20, 20);
   color: rgb(231, 216, 216);
   margin-bottom: 5px;
   padding:0;  
   display: flex;
}
h1{
  margin-left: 10px;
}
h4{
  font-size: 20px;
  color: rgb(255, 20, 20);
}
/*Results*/
#results{
  font-size: 20px;
  line-height: 25px;
  background-color: rgb(212, 205, 205);
}
#results-list{
  margin-top: 10px;
}
/*Map*/
#map{
    width: 100vw;
    height:78vh;    
}
/*Form*/
#app-form{
  Font-size: 15px;
  padding:10px;
  font-style: oblique;
}
/*Button*/
#submit{  
    background: #eef0ee;    
    transition-duration: 1s;
    transition-timing-function: linear;
  }
#submit:hover {
    background: rgb(192, 11, 11);
    color: rgb(231, 216, 216);
  } 
/*Groups & Items-Mobile First*/
.group{
    display: flex;
    flex-direction: column;    
}
  .item{
    flex:1;
  }   
  @media screen and (min-width:800px){
    .group{
      flex-direction:row;      
      }     
 }